// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
    box-sizing: border-box;
}
header {
    height:80px;
    background-color:rgb(29, 33, 87)
   
}
.search {
    display: flex;
}
.nav-search {
    margin-top: 10px;
    //margin-left: 60%;
}

.btn-primary {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #668ad8;/*ボタン色と同じに*/
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #627295;
    border-radius: 3px;/*角の丸み*/
    font-weight: bold;
    text-shadow: -1px -1px rgba(255, 255, 255, 0.44), 1px 1px rgba(0, 0, 0, 0.38);
    font-size: 10px;
}
  
.btn-primary:active {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.header-right1 {
    //float:right;
    background-color:rgba(255, 255, 255, 0.3) ;
}
.header-right1:hover {
    background-color:rgba(255, 255, 255, 0.5) ;
}

.login {
    line-height: 60px;
    padding:0 25px;
    color:black;
    display:block;
    font-weight: bold;
    text-decoration: none;
    font-family: fantasy;
}
.header-right2 {
    //float:right;
    background-color:rgba(255, 255, 255, 0.3) ;

}
.header-right2:hover{
    background-color:rgba(255, 255, 255, 0.5) ;
}
.signin{
    line-height: 60px;
    padding:0 25px;
    color:black;
    display:block;
    font-weight: bold;
    text-decoration: none;
    font-family: fantasy;
}
.header-link3 {
    //float:right;
    background-color:rgba(255, 255, 255, 0.3);
    padding: 0 25px;
}
.header-link3:hover{
    background-color:rgba(255, 255, 255, 0.5) ;
}
.nav-link {
    line-height: 65px;
    padding:0 25px;
    color:black;
    display:block;
    font-weight: bold;
    font-family: fantasy;
    text-decoration: none;
}
.header-logo {
    font-size:25px;
    border-radius: 10px;
    float:left;
    
}
.header-link4{
    //float:right;
    background-color:rgba(255, 255, 255, 0.3);
    padding: 0 25px;
}
.header-link4:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
.mypage-link{
    line-height: 80px;
    padding:0 25px;
    color:black;
    display:block;
    font-weight: bold;
    font-family: fantasy;
    text-decoration: none;

}
.top-page {
    color:white;
    text-decoration: none;
}


.title  {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.sabtitle {
    color:red;
}
.title h2{
    position: absolute;
    top:100%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:55px;
    margin-top: 10px;
    color: white;
}
.main {
    height:900px;
    background-image: url("Fotolia_178578550_Subscription_Monthly_M.jpg");
    background-size: cover;
    width:100%;
    position: relative;
}

.main p {
    color:rgb(133, 216, 140);
    font-family: initial;
    font-size:50px;
    text-align: center;
}
.main h1{
    font-size: 70px;
    margin:0;
    padding:0;
    text-align: center;
    color:rgb(218, 209, 162);
    letter-spacing: 10px;
    font-family:fantasy;
    font-weight: bold;
}
.fa-home {
    color:rgb(230, 217, 214);

}
.lesson-wrapper h1 {
    font-weight: bold;
    font-family:fantasy;
    text-align: center;
    padding-top: 10px;
   
}
.lesson-container {
    justify-content: space-around;
    text-align: center;

}
.lessons {
    padding:50px 100px 0 50px;
    width:25%;
    float: left;
    
}
.lesson-wrapper {
    height:500px;
    background-color: rgb(241, 237, 237);
    width:100%;
}

.btn-horizontal-border {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    font-weight: bold;
    padding: 12px 0 8px;
    text-decoration: none;
    color: #67c5ff;
    transition: .4s;
  }
  
  .btn-horizontal-border:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top:100%;
    left: 0;
    border-radius: 3px;
    background:#67c5ff;
    transition: .2s;
  }
  
  .btn-horizontal-border:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top:0;
    left: 0;
    border-radius: 3px;
    background:#67c5ff;
    transition: .2s;
  }
  
  .btn-horizontal-border:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
  }
  
  .btn-horizontal-border:hover:after {
    top: 3px;
  }
  
footer {
    height:100px;
    background-color:black;
}
.back-top {
    color:white;
    float:right;
    font-size:20px;
    line-height: 100px;
    background-color: rgb(83, 80, 80);
    font-family: fantasy;
    padding: 0 20px;
}


.my-post {
    height: 150px;
    margin-top:40px;
    width:100%;
}
.my-postcontainer{
    display:flex;
}
.message {
    font-size:20px;
    font-family:fantasy;
    text-align: center;
    width:50%;
    font-weight: bold;
}
.message p{
    font-size: 25px;
}

.allgenre {
    font-family: fantasy;
    font-size: 20px;
    font-weight: bold;
    width:50%;
    text-align: center;
    
}
.allgenre p{
    font-size: 25px;
}
.postx {
    padding-top: 20px;
}
.indexall{
    padding-top: 20px;
}
.btn-sf-like {
    position: relative;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    color: #FFF;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.73);
    padding: 0.3em 0.5em;
    background: #00bcd4;
    border-top: solid 3px #00a3d4;
    border-bottom: solid 3px #00a3d4;
    transition: .4s;
  }
  
.btn-sf-like:hover {
    text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
                 6px 0px 15px rgba(255, 255, 240, 0.83);
}
  
.creater {
    float:left;
    line-height: 40px;

}
.creater p1{
    color:rgb(236, 160, 160);
    font-family: fantasy;
}

.fa-instagram {
    color:#fff;
    background:radial-gradient(at 20% 120%,orange, #f15a4d 25%, #f13f79 55%, #9933ff 100%) no-repeat;
    border-radius:20%;
    margin-left: 40px;
}
.fa-twitter {
    margin-left: 10px;
    color:#00a1f2;
}
