@media (max-width: 680px){
    .nav-search {
        margin-top: 10px;
    }
    .lesson-container {
        width:100%;
        flex-wrap: wrap;

    }
    .lesson-wrapper{
        width:100%;
        height:1500px;

    }
    .lessons {
        width:100%;
        margin-left: 25px;

    }
    .allgenre p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    .message p{
        font-size: 15px;

    }
    .btn-sf-like {
        position: relative;
        display: inline-block;
        font-weight: bold;
        text-decoration: none;
        color: #FFF;
        text-shadow: 0 0 5px rgba(255,255,255,0.73);
        padding: 0.3em 0.5em;
        background: #00bcd4;
        border-top: solid 3px #00a3d4;
        border-bottom: solid 3px #00a3d4;
        transition: .4s;
        font-size: 15px;

    }
    .btn-sf-like:hover {
        text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83),
                     6px 0px 15px rgba(255, 255, 240, 0.83);
    }

    //post.scss
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: 15px;
    }
    .recommend h1 {
        padding-top: 20px;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    //sessions-login
    label {
        display: inline-block;
        margin-bottom: .5rem;
        margin-right: 130px;
    }
    .login-wrapper {
        height: 600px;
        text-align: center;
        position: relative;
        background-image: url(joker-joaquin-phoenix-heath-ledger.jpg);
        background-size: cover;
    }


}