@media (max-width: 680px){
    .lesson-container {
        width:100%;
        flex-wrap: wrap;

    }
    .lesson-wrapper{
        width:100%;
        height:1000px;

    }
    .lessons {
        width:50%;
        text-align: center;
    }
    


}