.login-wrapper{
    height:600px;
    text-align: center;
    position: relative;
    background-image: url("joker-joaquin-phoenix-heath-ledger.jpg");
    background-size: cover;
}
.login-content h2{
    font-family: fantasy;
    font-weight: bold;
    font-size: 40px;
    color:rgb(154, 224, 189);
}
.login-content {
    position: absolute;
    left:40%;
    top:100px;
}
.btn-gradient-radius {
    display: inline-block;
    padding: 7px 20px;
    border-radius: 45px;
    text-decoration: none;
    color: #FFF;
    background-image: linear-gradient(45deg, rgb(202, 226, 157) 0%, #96ce7b 100%);
    transition: .4s;
}
  
.btn-gradient-radius:hover {
    background-image: linear-gradient(45deg, rgb(100, 177, 49) 0%, #c0f880 100%);
}